body {
    width: 100%;
    height: 100%;
    background: url('../image/background2.jpg') no-repeat center fixed;
    background-size: 100% 100%;
    overflow-y: hidden;
}


/* 加载页 */

.loading-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.loading {
    width: 100%;
    height: 100%;
}

.door {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}

.door>div {
    width: 50%;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.loading-icon {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #337ab7;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loading-icon-box i {
    -webkit-animation: loading linear 2s infinite;
    animation: loading linear 2s infinite;
    font-size: 20px;
    font-weight: bold;
}

.door-left.open {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.door-right.open {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}


/* 游戏选项 */

.game-menu button {
    margin: 1em;
}


/* 棋盘 */

.nav {
    width: 100%;
    height: 40px;
    background-color: rgba(173, 202, 96, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.color>p {
    margin-bottom: 0px;
}

#chess-board {
    width: 100%;
    height: 100%;
    background: #ccc;
    border-top: 3px solid #ea5455;
    border-left: 3px solid #ea5455;
    position: relative;
    overflow: hidden;
}

#chess-board>div {
    width: 12.5%;
    float: left;
    border-right: 3px solid #ea5455;
    border-bottom: 3px solid #ea5455;
    cursor: pointer;
    background: #ffd460;
}

#chess-board>div.active {
    background: #f07b3f;
}

.color {
    width: 100px;
    height: 20px;
}

.color .chess {
    width: 20px;
    height: 20px;
}

#chess-board h3 {
    position: absolute;
    margin-top: 0px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
    display: none;
}


/* 棋子 */

.chess,
.chess-black,
.chess-white {
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    border-radius: 50%;
}

.chess {
    position: relative;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 2px;
    left: 2px;
}

.chess-black,
.chess-white {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.chess-black {
    z-index: 2;
    background: black;
}

.chess-white {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background: white;
}

.chess.change {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}